<div class="page-title-area" >
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <h2 style="color:white; padding-bottom: 2em;">Image Object Detection</h2>
            </div>
        </div>
    </div>
    
    <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape5"><img src="assets/img/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
</div>

<section class="about-area ptb-80">
    <div class="container">
        <!-- Required meta tags -->
        <br><br>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <style>
                .form-control {max-width: 700px; margin: auto}
               
        </style>
     
    <div class="form-group text-center">
        <h4>Input the URL of a image:</h4>
        <input type="url" class="form-control my-4" id="img_url" value="https://scontent.famd7-1.fna.fbcdn.net/v/t1.0-9/147142214_747349459518448_5741011801011802803_n.jpg?_nc_cat=106&ccb=2&_nc_sid=730e14&_nc_ohc=2JERbIsgnNYAX9Syfxq&_nc_ht=scontent.famd7-1.fna&oh=3e038d12a59c82beda3aa2789fc86a52&oe=6041DFA8">
        <button  type="submit" class="btn btn-primary my-4" onclick='submit()' style="background-color:#ed1c24; border-color: #ed1c24;">Submit</button>
    </div>
    <div id='img_detected' class="text-center">
    </div>

    <script>
      function submit() {
            pred = document.getElementById("img_detected")
            var obj_url = document.getElementById("img_url").value
            pred.innerHTML = "<h2>Loading...</h2>";
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4) {
                    if (xhr.status === 400) { pred.innerHTML = "<h2>Please input the url of a valid image.</h2>"; } 
                    else if (xhr.status === 200) { pred.innerHTML = "<img style='max-width:200%; display:block;' id='base64image'   src='data:image/jpeg;base64, " + xhr.response + "' />"; } 
                    else { pred.innerHTML = "<h2>Error</h2>"; }
                }
            }

            xhr.open("POST", 'https://ub5ji6m2w0.execute-api.us-east-1.amazonaws.com/Production/', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({
                img_url: obj_url
            }));
        }
        submit();
        document.getElementById('img_url').onkeydown = function(e){
            if(e.keyCode == 13){
                submit()
            }
        };
    </script>

</div>
</section>