<footer class="footer-area bg-f7fafd">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <div class="logo">
                        <a href="#"><img src="assets/img/logo2.png" alt="logo" style="height:55px; margin-left: -3px;"></a>
                    </div>
                    <p>We are a team of experts in data science and AI, partnering with our clients to identify data driven insights, potential inferences and enable data based decision making.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget pl-5">
                    <h3>Company</h3>
                    <ul class="list">
                        <li><a href="javascript:void(0)">HOME</a></li>
                        <li><a routerLink="about">ABOUT</a></li>
                        <li><a routerLink="features">SERVICES</a></li>
                        <li><a routerLink="developers">CAREERS</a></li>
                        <li><a routerLink="contact">CONTACT</a></li>
                        
                        <!-- <li><a href="#">Latest News</a></li> -->
                    </ul>
                </div>
            </div>

            <!-- <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Support</h3>
                    <ul class="list">
                        <li><a href="#">FAQ's</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms & Condition</a></li>
                        <li><a href="#">Community</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div> -->

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Address</h3>

                    <ul class="footer-contact-info">
                        <a href="https://www.google.com/maps/place/Arocom+IT+Solutions+Private+Ltd/@23.18567,72.6339164,15z/data=!4m5!3m4!1s0x0:0x6696d6e64fb63c8a!8m2!3d23.18567!4d72.6339164" target="/blank"> <li><i-feather name="map-pin"></i-feather> Opp. Swaminarayan Dham, <br>&nbsp;Urjanagar 1, Kudasan, Gandhinagar,<br>&nbsp;Gujarat 382421</li></a>
                        <li><i-feather name="mail"></i-feather> Email: <a href="mailto:info@arocomsolutions.com">info@arocomsolutions.com</a></li>
                        <li><i-feather name="phone"></i-feather> Phone: <a href="tel:919033300036">+91 9033300036</a></li>
                    </ul>
                    <ul class="social-links">
                        <li><a href="https://www.facebook.com/arocomindia" target="blank" class="facebook"><i-feather name="facebook"></i-feather></a></li>
                        <!-- <li><a href="#" class="twitter"><i-feather name="twitter"></i-feather></a></li>
                        <li><a href="#" class="instagram"><i-feather name="instagram"></i-feather></a></li> -->
                        <li><a href="https://www.linkedin.com/company/arocomsolutions/" target="blank" class="linkedin"><i-feather name="linkedin"></i-feather></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-12 col-md-12">
                <div class="copyright-area">
                    <p>Copyright @ 2020 Arocom Solutions. All rights reserved</p>
                </div>
            </div>
        </div>
    </div>

    <img src="assets/img/map.png" class="map" alt="map">
    <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
</footer>

<div class="go-top"><i-feather name="arrow-up"></i-feather></div>