<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <h2>Blog Details</h2>
            </div>
        </div>
    </div>

    <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape5"><img src="assets/img/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
</div>

<section class="blog-details-area ptb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-12 offset-lg-1">
                <div class="blog-details">
                    <div class="article-img">
                        <img src="assets/img/blog-details.jpg" alt="blog-details">
                        <div class="date">20 <br> Jan</div>
                    </div>

                    <div class="article-content">
                        <ul class="category">
                            <li><a href="#">IT</a></li>
                            <li><a href="#">Mobile</a></li>
                            <li><a href="#">Marketing</a></li>
                            <li><a href="#">Design</a></li>
                            <li><a href="#">Development</a></li>
                        </ul>

                        <h3>How to Be a Work From Home Professional</h3>

                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. In necessitatibus provident facere, reiciendis voluptate dolorem iste consectetur veniam aperiam suscipit ad ipsum et labore a repellendus debitis explicabo quisquam obcaecati....</p>

                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque eum alias debitis suscipit, sint dignissimos minus quisquam recusandae nostrum quas eligendi odit, fugiat eius rem. Cumque, labore placeat! Velit, vitae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, iste? Aut ipsam consequuntur non rem tenetur dolore consequatur ducimus a labore excepturi quae nisi, quisquam, maxime voluptates magnam aliquid. Cupiditate!</p>

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, iste? Aut ipsam consequuntur non rem tenetur dolore consequatur ducimus a labore excepturi quae nisi, quisquam, maxime voluptates magnam aliquid. Cupiditate!</p>

                        <blockquote class="blockquote">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, iste? Aut ipsam consequuntur non rem tenetur dolore consequatur ducimus a labore excepturi quae nisi, quisquam, maxime voluptates magnam aliquid. Cupiditate.</p>
                        </blockquote>

                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque eum alias debitis suscipit, sint dignissimos minus quisquam recusandae nostrum quas eligendi odit, fugiat eius rem. Cumque, labore placeat! Velit, vitae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, iste? Aut ipsam consequuntur non rem tenetur dolore consequatur ducimus a labore excepturi quae nisi, quisquam, maxime voluptates magnam aliquid. Cupiditate!</p>

                        <div class="share-post">
                            <ul>
                                <li><a href="#"><i-feather name="facebook"></i-feather></a></li>
                                <li><a href="#"><i-feather name="twitter"></i-feather></a></li>
                                <li><a href="#"><i-feather name="instagram"></i-feather></a></li>
                                <li><a href="#"><i-feather name="linkedin"></i-feather></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="post-controls-buttons">
                    <div class="controls-left">
                        <a href="#"><i-feather name="chevron-left"></i-feather> Prev Post</a>
                    </div>

                    <div class="controls-right">
                        <a href="#">Next Post <i-feather name="chevron-right"></i-feather></a>
                    </div>
                </div>

                <div class="post-comments">
                    <h3>Comments</h3>
                    <div class="single-comment">
                        <div class="comment-img">
                            <img src="assets/img/team-image/1.jpg" alt="client">
                        </div>
                        <div class="comment-content">
                            <h4>John Smith</h4>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et minus, saepe porro a voluptatem, quidem aut libero consequatur unde molestiae quae impedit accusantium dolor est corporis! Dolores ut dignissimos doloribus?</p>
                            <span>Jan 19, 2018 - 9:10AM</span>
                            <a href="#">Reply</a>
                        </div>
                    </div>

                    <div class="single-comment left-m">
                        <div class="comment-img">
                            <img src="assets/img/team-image/2.jpg" alt="client">
                        </div>
                        <div class="comment-content">
                            <h4>Doe John</h4>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et minus, saepe porro a voluptatem, quidem aut libero consequatur unde molestiae quae impedit accusantium dolor est corporis! Dolores ut dignissimos doloribus?</p>
                            <span>Jan 19, 2018 - 9:10AM</span>
                            <a href="#">Reply</a>
                        </div>
                    </div>

                    <div class="single-comment">
                        <div class="comment-img">
                            <img src="assets/img/team-image/3.jpg" alt="client">
                        </div>
                        <div class="comment-content">
                            <h4>Steven Doe</h4>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et minus, saepe porro a voluptatem, quidem aut libero consequatur unde molestiae quae impedit accusantium dolor est corporis! Dolores ut dignissimos doloribus?</p>
                            <span>Jan 19, 2018 - 9:10AM</span>
                            <a href="#">Reply</a>
                        </div>
                    </div>

                    <div class="single-comment">
                        <div class="comment-img">
                            <img src="assets/img/team-image/5.jpg" alt="client">
                        </div>
                        <div class="comment-content">
                            <h4>John Cina</h4>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et minus, saepe porro a voluptatem, quidem aut libero consequatur unde molestiae quae impedit accusantium dolor est corporis! Dolores ut dignissimos doloribus?</p>
                            <span>Jan 19, 2018 - 9:10AM</span>
                            <a href="#">Reply</a>
                        </div>
                    </div>
                </div>

                <div class="leave-a-reply">
                    <h3>Leave a Reply</h3>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Full Name">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="E-Mail">
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <textarea name="comment" cols="30" rows="5" class="form-control" placeholder="Your Comment"></textarea>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
