<div class="page-title-area-service" >
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <h2 style="color:#ed1c24; padding-bottom: 2.5em; text-align: right;">Services</h2>
            </div>
        </div>
    </div>

    <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape5"><img src="assets/img/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
</div>

<section class="features-area ptb-80 bg-f9f6f6">
    <div class="container">
        <div class="section-title">
            <h2>Our Services</h2>
            <div class="bar"></div>
            <p>We provide solutions for artificial intelligence, machine learning, cloud computing & data visualization needs.</p>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="icon">
                        <img src="../../assets/img/icon/Artificial Intelligence.png">
                    </div>

                    <h3><a href="#">Artificial Intelligence</a></h3>
                    <p>With the help of Artificial Intelligence, Arocom turns difficult data into smart data, leading to actionable insights that help you solve your toughest challenges.</p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="icon">
                        <img src="../../assets/img/icon/ML ICON.png">
                    </div>

                    <h3><a href="#">Machine Learning</a></h3>
                    <p>Its all about connecting the dots. The more you connect data, more you learn what's best for your business. We enable businesses to generate insights from different data points and disperate data.</p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="icon bg-c679e3">
                        <img src="../../assets/img/icon/Deep Ler ICON.png">
                    </div>

                    <h3><a href="#">Deep Learning</a></h3>
                    <p>Deep learning is an AI function that mimics the workings of the human brain in processing data for use in detecting objects, recognizing speech, translating languages, and making decisions.</p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="icon bg-c679e3">
                        <img src="assets/img/icon/CLOUD COM ICON.png">
                    </div>

                    <h3><a href="#">Cloud Computing</a></h3>
                    <p>Why work in a closet when you can work in cloud? From healthcare to heavy machinery, cloud computing helps you to get faster solution with superior quality.</p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="icon bg-eb6b3d">
                       <img src="assets/img/icon/DATA ANA ICON.png">
                    </div>

                    <h3><a href="#">Data Analytics</a></h3>
                    <p>Data analysis is a process of inspecting, cleansing, transforming, and modeling data with the goal of discovering useful information.</p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="icon bg-eb6b3d">
                        <img src="assets/img/icon/WEB DEV ICON.png">
                    </div>

                    <h3><a href="#">Web Development</a></h3>
                    <p>Web development is the work involved in developing a Web site for the Internet or an intranet. Web development can range from developing a simple single static page of plain text to complex Web-based Internet applications.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features-area-two ptb-80 bg-f7fafd mb-5">
    <div class="container">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-lg-6 col-md-12 services-content">
                <div class="section-title">
                    <h2>Experience The Best Features Ever</h2>
                    <div class="bar"></div>
                    <p>Ideas are not limited to expertise and knowledge. We
                        have experienced the best of the ideas coming from the
                        most unexpected sources. Freedom to share the ideas and
                        converting those ideas into workable prototypes is the most
                        important part. Even the support staff in our organization
                        have been instrumental in some of the novel business
                        decisions. We are proud of them.</p>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="box">
                            <i-feather name="lock"></i-feather> Secure & Fast
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="box">
                            <i-feather name="watch"></i-feather> Rich experience
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="box">
                            <i-feather name="users"></i-feather> Support Stuffs
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="box">
                            <i-feather name="trending-up"></i-feather> Forex trading
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="box">
                            <i-feather name="folder"></i-feather> File backups
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="box">
                            <i-feather name="monitor"></i-feather> Remote desktop
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="box">
                            <i-feather name="mail"></i-feather> Email servers
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="box">
                            <i-feather name="cloud"></i-feather> Hybrid cloud
                        </div>
                    </div>
                </div>
            </div>
            
            <style>
                @media only screen and (max-width: 600px){
                    .right-image3{
                        margin-top: 50px!important;
                    }
                }
            </style>
            <div class="col-lg-6 col-md-12 services-right-image">
                <img src="assets/img/services-right-image/SERVICES EXP.jpg" style="margin-top: -50px;" class="right-image3" data-wow-delay="0.6s" alt="book-self">
                <!-- <img src="assets/img/services-right-image/Facial Recognition.jpg" class="wow fadeInUp" data-wow-delay="0.6s" alt="box">
                <img src="assets/img/services-right-image/Facial Recognition.jpg" class="wow fadeInLeft" data-wow-delay="0.6s" alt="chair">
                <img src="assets/img/services-right-image/Facial Recognition.jpg" class="wow zoomIn" data-wow-delay="0.6s" alt="cloud">
                <img src="assets/img/services-right-image/Facial Recognition.jpg" class="wow bounceIn" data-wow-delay="0.6s" alt="cup">
                <img src="assets/img/services-right-image/Facial Recognition.jpg" class="wow fadeInDown" data-wow-delay="0.6s" alt="flower">
                <img src="assets/img/services-right-image/Facial Recognition.jpg" class="wow zoomIn" data-wow-delay="0.6s" alt="head-phone">
                <img src="assets/img/services-right-image/Facial Recognition.jpg" class="wow fadeInUp" data-wow-delay="0.6s" alt="monitor">
                <img src="assets/img/services-right-image/Facial Recognition.jpg" class="wow rotateIn" data-wow-delay="0.6s" alt="mug">
                <img src="assets/img/services-right-image/Facial Recognition.jpg" class="wow fadeInUp" data-wow-delay="0.6s" alt="table">
                <img src="assets/img/services-right-image/Facial Recognition.jpg" class="wow zoomIn" data-wow-delay="0.6s" alt="tissue">
                <img src="assets/img/services-right-image/Facial Recognition.jpg" class="wow zoomIn" data-wow-delay="0.6s" alt="water-bottle">
                <img src="assets/img/services-right-image/Facial Recognition.jpg" class="wow fadeInLeft" data-wow-delay="0.6s" alt="wifi">
                <img src="assets/img/services-right-image/cercle-shape.jpg" class="bg-image  rotateme " alt="shape"> -->
                
                <img src="assets/img/services-right-image/SERVICES EXP.jpg" class="right-image3" data-wow-delay="0.6s" alt="main-pic">
            </div>
        </div>
    </div>
</section>

<!-- <section class="features-area-two ptb-80">
    <div class="container">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-lg-6 col-md-12 services-left-image">
                <img src="assets/img/services-left-image/big-monitor.png" class="wow fadeInDown" data-wow-delay="0.6s" alt="big-monitor">
                <img src="assets/img/services-left-image/creative.png" class="wow fadeInUp" data-wow-delay="0.6s" alt="creative">
                <img src="assets/img/services-left-image/developer.png" class="wow fadeInLeft" data-wow-delay="0.6s" alt="developer">
                <img src="assets/img/services-left-image/flower-top.png" class="wow zoomIn" data-wow-delay="0.6s" alt="flower-top">
                <img src="assets/img/services-left-image/small-monitor.png" class="wow bounceIn" data-wow-delay="0.6s" alt="small-monitor">
                <img src="assets/img/services-left-image/small-top.png" class="wow fadeInDown" data-wow-delay="0.6s" alt="small-top">
                <img src="assets/img/services-left-image/table.png" class="wow zoomIn" data-wow-delay="0.6s" alt="table">
                <img src="assets/img/services-left-image/target.png" class="wow fadeInUp" data-wow-delay="0.6s" alt="target">
                <img src="assets/img/services-left-image/cercle-shape.png" class="bg-image rotateme" alt="shape">

                <img src="assets/img/services-left-image/main-pic.png" class="wow fadeInUp" data-wow-delay="0.6s" alt="main-pic">
            </div>

            <div class="col-lg-6 col-md-12 services-content">
                <div class="section-title">
                    <h2>What Our Software Can Do For You</h2>
                    <div class="bar"></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="box">
                            <i-feather name="layout"></i-feather> Responsive design
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="box">
                            <i-feather name="code"></i-feather> React web development
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="box">
                            <i-feather name="smartphone"></i-feather> Android apps development
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="box">
                            <i-feather name="code"></i-feather> Laravel web development
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="box">
                            <i-feather name="smartphone"></i-feather> iOS apps development
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="box">
                            <i-feather name="pen-tool"></i-feather> UX/UI design
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="box">
                            <i-feather name="shopping-cart"></i-feather> E-commerce development
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="box">
                            <i-feather name="check-circle"></i-feather> Print ready design
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->