<div class="page-title-area" >
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <h2 style="color:white; padding-bottom: 2em;">About Us</h2>
            </div>
        </div>
    </div>
    
    <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape5"><img src="assets/img/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
</div>

<section class="about-area ptb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="about-image">
                    <img src="assets/img/1.png" alt="image">
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <div class="section-title">
                        <h2>We Are Arocom</h2>
                        <div class="bar"></div>
                        <p>Arocom is a consulting and solution engineering company in niche skills like Data Science, Artificial Intelligence, Machine Learning and Cloud Computing. 
                            Our clients include companies within drug discovery, therapeutic medicine, heavy machinery and startups. Our consultants are best in their skills and offer hands-on talent to our clients in achieving their goals.
                            </p>
                    </div>

                    <p>If you have the Rockstar skills in the aforementioned technologies, admire the challenge of designing and developing complex solutions and are thrilled to work with latest technology, we would like to have discussion with you to proceed further.</p>

                    <p>Our team has worked with world's leading organizations from areas of research & development, academics and fortune 500 companies.</p>

                    <!-- <p>Business-to-business metrics analytics value proposition funding angel investor entrepreneur alpha ramen equity gamification. Social proof partner network research.</p> -->
                </div>
            </div>
        </div>

        <div class="about-inner-area">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="about-text">
                        <h3>Our History</h3>
                        <p>Lorem ipsum dolor sit amet, con se ctetur adipiscing elit. In sagittis eg esta ante, sed viverra nunc tinci dunt nec elei fend et tiram.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="about-text">
                        <h3>Our Mission</h3>
                        <p>Building innovative AI solutions for a better tomorrow and creating a competent AI workforce.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                    <div class="about-text">
                        <h3>Why Arocom?</h3>
                        <p>Arocom simplifies data and AI so you can grow faster.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-team-home></app-team-home>

<app-partner></app-partner>
<div class="container" style="margin-bottom: 10%;">

</div>

<!-- <app-funfact></app-funfact> -->