<div class="page-title-area" >
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <h2 style="color:white; padding-bottom: 2em;">Tensorflow / Tensorboard</h2>
            </div>
        </div>
    </div>
    
    <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape5"><img src="assets/img/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
</div>

<section class="about-area ptb-80">
    <div class="container">
        <h2 >Visualizing face detection model using TensorBoard</h2><br><br><br>
        

        <h3>Why TensorBoard?</h3>
        <p style="font-size:16px;">This is a visualization tool that is available with tensorflow. But the reason this is useful is that, it has special features such as viewing your machine learning model as a conceptual graphical representation (computational graph) of nodes and edges connecting those nodes(data flows). Further it also provides us the ability to evaluate the performance of our models in relation to desired metrics. 
        </p>
        <br><br>


        <h3>Accuracy</h3>
        <p style="font-size:16px;">As a rule of thumb, when you notice the accuracy stops increasing, that is the ideal number of epochs you should have usually between 1 and 10. 100 seems too much already. In every epochs steps accuracy increase.
            <br><br>
            <img src="assets/img/tensorboard.png" alt="shape"> 
        </p>


        <br><br><br>
        <h3>Losses</h3>
        <p style="font-size:16px;">A scalar value that we attempt to minimize during our training of the model. The lower the loss, the closer our predictions are to the true labels. A model should be generic and must make accurate predictions on unseen data as well. For this, we monitor the losses and other metrics on validation (or dev) data and ensure that the losses don’t differ much. This can be done in a more insightful manner by visualizing these metrics over the training time.

        </p>
        <p style="font-size:16px;">In this image you can show every epochs steps losses go down.</p>
            <br><br>
            <img src="assets/img/tensorboard-1.png" alt="shape">


       <br><br><br><br><br>  
        <h3>Model Images</h3>
        <p style="font-size:16px;">In this model we are use face images for detection. here is some exaple of train images.
            <br><br>
            <img src="assets/img/tensorboard-3.PNG" alt="shape">
        </p>

        <br><br><br><br><br>
        <h3>Graphs</h3>
        <p style="font-size:16px;">Here’s an example of a more complex version of a model graph being visualized by TensorFlow. TensorBoard allows us to zoom, pan, and expand elements to see more details. We can easily view a conceptual graph of our model’s structure and ensure it matches our intended design using the Graphs dashboard. This also is quite an insight into how TensorFlow construes the model.
            <br><br>
            <img src="assets/img/tensorboard-4.PNG" alt="shape">
        </p>

        <br><br><br><br><br>
        <h3>Histogram</h3>
        <p style="font-size:16px;">The Histograms and Distributions dashboards allow us to visualize the distribution of a tensor over time. Using these, we can monitor the weights, biases, activations, and more. </p>
        <p style="font-size:16px;">histogram_freq tells tensorflow to compute the distributions after every epoch. If it is set to 0, then it won’t plot any distributions.</p>

        <br><br>
            <img src="assets/img/tensorboard-5.png" alt="shape">
            <br><br><br>
            <img src="assets/img/tensorboard-6.png" alt="shape">
        
        <br><br><br><br>
        <h3>Conclusion</h3>
        <p style="font-size:18px;">We saw what TensorBoard is and explored some basic stuff in it. However, in this article we have covered like accuracy, losses, graphs, distributions, and model images.</p>
    </div>
</section>


<div class="container" style="margin-bottom: 10%;">

</div>

<!-- <app-funfact></app-funfact> -->