<div class="page-title-area2" >
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <h2 style="color:#ed1c24; padding-bottom: 2.5em; text-align: right;" >Contact Us</h2>
            </div>
        </div>
    </div>

    <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape5"><img src="assets/img/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
</div>

<section class="contact-info-area ptb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="contact-info-box">
                    <div class="icon">
                        <a href="mailto:info@arocomsolutions.com"><i-feather name="mail" class="contact-icon"></i-feather></a>
                    </div>
                    <h3>Mail Here</h3>
                    <p><a href="mailto:info@arocomsolutions.com">info@arocomsolutions.com</a></p>
                    <!-- <p><a href="#">info@profun.com</a></p> -->
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="contact-info-box">
                    <div class="icon">
                        <a href="https://www.google.com/maps/place/Arocom+IT+Solutions+Private+Ltd/@23.18567,72.6339164,15z/data=!4m5!3m4!1s0x0:0x6696d6e64fb63c8a!8m2!3d23.18567!4d72.6339164" target="/blank">  <i-feather name="map-pin" class="contact-icon"></i-feather></a>
                    </div>
                    <h3>Visit Here</h3>
                    <p><a href="https://www.google.com/maps/place/Arocom+IT+Solutions+Private+Ltd/@23.18567,72.6339164,15z/data=!4m5!3m4!1s0x0:0x6696d6e64fb63c8a!8m2!3d23.18567!4d72.6339164" target="/blank">Opp. Swaminarayan Dham, Urjanagar 1, Kudasan, Gandhinagar, Gujarat 382421</a></p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
                <div class="contact-info-box">
                    <div class="icon">
                        <a href="tel:+919033300036"><i-feather name="phone" class="contact-icon"></i-feather></a>
                    </div>
                    <h3>Call Here</h3>
                    <p><a href="tel:+919033300036">+91 9033300036</a></p>
                    <p><a href="tel:+91 9825300447">+91 9825300447</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact-area pb-80">
    <div class="container">
        <div class="section-title">
            <h2>Get In Touch With Us</h2>
            <div class="bar"></div>
            <p>Can we help you? Contact us, we will get back to you.</p>
        </div>

        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-lg-6 col-md-12">
                <img src="../../assets/img/GET IN TOUCH.jpg" alt="image">
            </div>

            <div class="col-lg-6 col-md-12">
                <form id="contactForm" [formGroup]="form" enctype="multipart/form-data" (submit)="sendEmail($event)">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <input type="text" formControlName="f_name"  name="f_name" id="name" class="form-control" required placeholder="Name" >
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <input type="email" formControlName="email"   name="email" id="email" class="form-control" required placeholder="Email" >
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-6">
                            <div class="form-group">
                                <input type="text" formControlName="mob_no"  name="mobno" id="phone_number" required class="form-control" placeholder="Phone" >
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-6">
                            <div class="form-group">
                                <input type="text" formControlName="subject"   name="subject" id="msg_subject" class="form-control" required placeholder="Subject" >
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <textarea name="message" formControlName="message" class="form-control" id="message" cols="30" rows="5" required placeholder="Your Message" ></textarea>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <input type="file"
                                id="file"
                                (change)="handleFileInput($event.target.files)">
                            </div>   
                        </div>

                        <div class="col-lg-12 col-md-12">
                            <button [disabled]="disabledSubmitButton"  type="submit" class="btn btn-primary">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>