<section class="ready-to-talk">
    <div class="container">
        <h3>Ready to talk?</h3>
        <p>Our team is here to answer your question about Arocom</p>
        <a href="#" class="btn btn-primary">Contact Us</a>
        <!-- <span><a href="#">Or, get started now with a free trial</a></span> -->
    </div>
</section>

<!-- <div class="partner-area partner-section">
    <div class="container">
        <h5>More that 1.5 million businesses and organizations use Profun</h5>

        <div class="partner-inner">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-6 col-sm-4" *ngFor="let logo of partnerLogos">
                    <a href="#">
                        <img src="{{logo.img}}" alt="partner">
                        <img src="{{logo.hoverImg}}" alt="partner hover">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div> -->