<div class="ml-main-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="ml-banner-content">
                    <h1>Expert In AI And Data Science</h1>
                    <p>We are a team of experts in data science and AI, partnering with our clients to identify data driven insights, potential inferences and enable data based decision making.</p>

                    <a href="#" class="btn btn-secondary">Know More</a>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="ml-banner-image">
                    <!-- <img src="assets/img/ml-banner-image/1.png" class="wow fadeIn" data-wow-delay="2s" alt="image">
                    <img src="assets/img/ml-banner-image/2.png" class="wow fadeInUp" data-wow-delay="1s" alt="image">
                    <img src="assets/img/ml-banner-image/3.png" class="wow fadeInUp" data-wow-delay="0.5s" alt="image">
                    <img src="assets/img/ml-banner-image/4.png" class="wow fadeInUp" data-wow-delay="2s" alt="image">
                    <img src="assets/img/ml-banner-image/5.png" class="wow fadeInDown" data-wow-delay="2.5s" alt="image">
                    <img src="assets/img/ml-banner-image/6.png" class="wow fadeInDown" data-wow-delay="1.9s" alt="image">
                    <img src="assets/img/ml-banner-image/7.png" class="wow fadeInDown" data-wow-delay="2.1s" alt="image">
                    <img src="assets/img/ml-banner-image/8.png" class="wow fadeInDown" data-wow-delay="1.9s" alt="image">
                    <img src="assets/img/ml-banner-image/9.png" class="wow fadeInDown" data-wow-delay="1.7s" alt="image">
                    <img src="assets/img/ml-banner-image/10.png" class="wow fadeInDown" data-wow-delay="1.5s" alt="image">
                    <img src="assets/img/ml-banner-image/11.png" class="wow fadeInUp" data-wow-delay="0.4s" alt="image"> -->
                    <img src="assets/img/ml-banner-image/main-pic.png" class="wow fadeInUp" data-wow-delay="0.5s" alt="image"> 
                    <img src="assets/img/ml-banner-image/main-pic.png" class="wow fadeInUp" data-wow-delay="0.5s" alt="image">
                    <img src="assets/img/ml-banner-image/main-pic.png" class="wow fadeInUp" data-wow-delay="0.5s" alt="image"> 
                    <img src="assets/img/ml-banner-image/main-pic.png" class="wow fadeInUp" data-wow-delay="0.5s" alt="image">
                    <img src="assets/img/ml-banner-image/main-pic.png" class="wow fadeInUp" data-wow-delay="0.5s" alt="image"> 
                    <img src="assets/img/ml-banner-image/main-pic.png" class="wow fadeInUp" data-wow-delay="0.5s" alt="image">
                    <img src="assets/img/ml-banner-image/main-pic.png" class="wow fadeInUp" data-wow-delay="0.5s" alt="image"> 
                    <img src="assets/img/ml-banner-image/main-pic.png" class="wow fadeInUp" data-wow-delay="0.5s" alt="image">
                    <img src="assets/img/ml-banner-image/main-pic.png" class="wow fadeInUp" data-wow-delay="0.5s" alt="image"> 
                    <img src="assets/img/ml-banner-image/main-pic.png" class="wow fadeInUp" data-wow-delay="0.5s" alt="image">
                    <img src="assets/img/ml-banner-image/main-pic.png" class="wow fadeInUp" data-wow-delay="0.5s" alt="image"> 
                    <img src="assets/img/ml-banner-image/main-pic.png" class="wow fadeInUp" data-wow-delay="0.5s" alt="image">
                </div>
            </div>
        </div>
    </div>

    <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
    <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
</div>

<section class="ml-partner-area mt-minus-top ptb-80 pb-0">
    <div class="container">
        <div class="row">
            <div class="partner-slides owl-carousel owl-theme">
                <div class="col-lg-12 col-md-12">
                    <div class="single-ml-partner">
                        <a href="#">
                            <img src="assets/img/partner-img/partner-1.png" alt="image"> 
                            <img src="assets/img/partner-img/partner-hover1.png" alt="image">
                        </a>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12">
                    <div class="single-ml-partner">
                        <a href="#">
                            <img src="assets/img/partner-img/partner-2.png" alt="image">
                            <img src="assets/img/partner-img/partner-hover2.png" alt="image">
                        </a>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12">
                    <div class="single-ml-partner">
                        <a href="#">
                            <img src="assets/img/partner-img/partner-3.png" alt="image">
                            <img src="assets/img/partner-img/partner-hover3.png" alt="image">
                        </a>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12">
                    <div class="single-ml-partner">
                        <a href="#">
                            <img src="assets/img/partner-img/partner-10.png" alt="image">
                            <img src="assets/img/partner-img/partner-hover10.png" alt="image">
                        </a>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12">
                    <div class="single-ml-partner">
                        <a href="#">
                            <img src="assets/img/partner-img/partner-5.png" alt="image">
                            <img src="assets/img/partner-img/partner-hover5.png" alt="image">
                        </a>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12">
                    <div class="single-ml-partner">
                        <a href="#">
                            <img src="assets/img/partner-img/partner-6.png" alt="image">
                            <img src="assets/img/partner-img/partner-hover6.png" alt="image">
                        </a>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12">
                    <div class="single-ml-partner">
                        <a href="#">
                            <img src="assets/img/partner-img/partner-7.png" alt="image">
                            <img src="assets/img/partner-img/partner-hover7.png" alt="image">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="solutions-area ptb-80">
    <div class="container">
        <div class="section-title">
            <!-- <span class="sub-title">What We Offer</span> -->
            <h1>Why Arocom?</h1>
            <div class="bar"></div>
            <p style="font-size: large;">Arocom brings expertise in AI and Data Science to help achieve your business goals.</p>
        </div>

        <div class="row">
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-solutions-box">
                    <div class="icon">
                        <img src="assets/img/AI Icon.png" alt="image">
                    </div>
                    <h3><a href="#">Artificial Intelligence</a></h3>
                    <p>With the help of Artificial Intelligence, Arocom turns difficult data into smart data, leading to actionable insights that help you solve your toughest challenges.</p>
                    <a href="#" class="learn-more-btn"><i-feather name="plus"></i-feather> Learn More</a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-solutions-box">
                    <div class="icon">
                        <img src="assets/img/Machine Learning.png" alt="image">
                    </div>
                    <h3><a href="#">Machine Learning</a></h3>
                    <p>Its all about connecting the dots. The more you connect data, more you learn what's best for your business. We enable businesses to generate insights from different data points and disperate data..</p>
                    <a href="#" class="learn-more-btn"><i-feather name="plus"></i-feather> Learn More</a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-solutions-box">
                    <div class="icon">
                        <img src="assets/img/Cloud Computing.png" alt="image">
                    </div>
                    <h3><a href="#">Cloud Computing</a></h3>
                    <p>Why work in a closet when you can work in cloud? From healthcare to heavy machinery, cloud computing helps you to get faster solution with superior quality.</p>
                    <a href="#" class="learn-more-btn"><i-feather name="plus"></i-feather> Learn More</a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-solutions-box">
                    <div class="icon">
                        <img src="assets/img/Data Analytics.png" alt="image">
                    </div>
                    <h3><a href="#">Data Analytics</a></h3>
                    <p>With the help of Artificial Intelligence and Machine Learning, Arocom turns difficult data into smart data, leading to actionable insights that help you solve your toughest challenges.</p>
                    <a href="#" class="learn-more-btn"><i-feather name="plus"></i-feather> Learn More</a>
                </div>
            </div>
        </div>
    </div>

    <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
</section>

<div class="about-area pt-0 ptb-80">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="ml-about-img">
                    <img src="assets/img/about4.png" alt="image">
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="ml-about-content">
                    <span class="sub-title">About Us</span>
                    <h2>Engaging New Audiences Through Smart Approach</h2>
                    <div class="bar"></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <p>Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc.Donec vitae sapien ut libero venenatis faucibus tempus.</p>

                    <a href="#" class="btn btn-secondary">Discover More</a>
                </div>
            </div>
        </div>
    </div>

    <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
</div>

<section class="ml-services-area ptb-80">
    <div class="container">
        <div class="section-title">
            <!-- <span class="sub-title">Our Solutions</span> -->
            <h2>Our Solutions</h2>
            <div class="bar"></div>
            <p style="font-size: large;">We provide solutions for artificial intelligence, machine learning, cloud computing & data visualization needs.</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-ml-services-box">
                    <div class="image">
                        <img src="assets/img/services-image/Facial Recognition.jpg" alt="image" height="185px">
                    </div>
                    <h3><a href="#">Facial Recognition</a></h3>
                    <p>Lorem ipsum dolor sit amet elit, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-ml-services-box">
                    <div class="image">
                        <img src="assets/img/services-image/2.png" alt="image" height="185px">
                    </div>
                    <h3><a href="#">Sentiment Analysis</a></h3>
                    <p>Lorem ipsum dolor sit amet elit, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-ml-services-box">
                    <div class="image">
                        <img src="assets/img/services-image/NLP.jpg" alt="image" height="185px">
                    </div>
                    <h3><a href="#">Natural Language Processing</a></h3>
                    <p>Lorem ipsum dolor sit amet elit, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-ml-services-box">
                    <div class="image">
                        <img src="assets/img/services-image/4.png" alt="image" height="185px">
                    </div>
                    <h3><a href="#">Tensorflow</a></h3>
                    <p>Lorem ipsum dolor sit amet elit, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-ml-services-box">
                    <div class="image">
                        <img src="assets/img/services-image/Deep Learning.jpg" alt="image" height="185px">
                    </div>
                    <h3><a href="#">Deep Learning</a></h3>
                    <p>Lorem ipsum dolor sit amet elit, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-ml-services-box">
                    <div class="image">
                        <img src="assets/img/services-image/Data Visualization.jpg" alt="image" height="185px">
                    </div>
                    <h3><a href="#">Data Visualization</a></h3>
                    <p>Lorem ipsum dolor sit amet elit, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
</section>

<app-funfact></app-funfact>

<section class="ml-projects-area pt-0 ptb-80">
    <div class="container">
        <div class="section-title">
            <h2>Proud Projects That Make Us Stand Out</h2>
            <div class="bar"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>

    <div class="container-fluid">
        <div class="ml-projects-slides owl-carousel owl-theme">
            <div class="single-ml-projects-box">
                <img src="assets/img/projects-img1.jpg" alt="image">
            
                <div class="plus-icon">
                    <a href="#">
                        <span></span>
                    </a>
                </div>
            </div>

            <div class="single-ml-projects-box">
                <img src="assets/img/projects-img2.jpg" alt="image">
            
                <div class="plus-icon">
                    <a href="#">
                        <span></span>
                    </a>
                </div>
            </div>

            <div class="single-ml-projects-box">
                <img src="assets/img/projects-img3.jpg" alt="image">
            
                <div class="plus-icon">
                    <a href="#">
                        <span></span>
                    </a>
                </div>
            </div>

            <div class="single-ml-projects-box">
                <img src="assets/img/projects-img4.jpg" alt="image">
            
                <div class="plus-icon">
                    <a href="#">
                        <span></span>
                    </a>
                </div>
            </div>

            <div class="single-ml-projects-box">
                <img src="assets/img/projects-img5.jpg" alt="image">
            
                <div class="plus-icon">
                    <a href="#">
                        <span></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
</section>

<section class="pricing-area ptb-80 pt-0">
    <div class="container">
        <div class="section-title">
            <h2>Our Pricing Plan</h2>
            <div class="bar"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        
        <div class="tab pricing-tab bg-color">
            <ul class="tabs">
                <li><a href="#">
                    Monthly Plan
                </a></li>
                
                <li><a href="#">
                    Yearly Plan
                </a></li>
            </ul>

            <div class="tab_content">
                <div class="tabs_item">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="pricing-box">
                                <div class="pricing-header">
                                    <h3>Free</h3>
                                    <p>Get your business up <br>and running</p>
                                </div>

                                <div class="price">
                                    $0 <span>/m</span>
                                </div>

                                <div class="buy-btn">
                                    <a href="#" class="btn btn-primary">Get Started Free</a>
                                </div>

                                <ul class="pricing-features">
                                    <li><i-feather name="check"></i-feather> Drag & Drop Builder</li>
                                    <li><i-feather name="check"></i-feather> Lead Generation & Sales</li>
                                    <li><i-feather name="check"></i-feather> Boot & Digital Assistants</li>
                                    <li><i-feather name="check"></i-feather> Customer Service</li>
                                    <li><i-feather name="check"></i-feather> Up to 1000 Subscribers</li>
                                    <li><i-feather name="check"></i-feather> Unlimited Broadcasts</li>
                                    <li><i-feather name="check"></i-feather> Landing Pages & Web Widgets</li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="pricing-box">
                                <div class="pricing-header">
                                    <h3>Pro</h3>
                                    <p>Get your business up <br>and running</p>
                                </div>

                                <div class="price">
                                    $149 <span>/m</span>
                                </div>

                                <div class="buy-btn">
                                    <a href="#" class="btn btn-primary">Start 3 Days Free Trial</a>
                                </div>

                                <ul class="pricing-features">
                                    <li><i-feather name="check"></i-feather> Drag & Drop Builder</li>
                                    <li><i-feather name="check"></i-feather> Lead Generation & Sales</li>
                                    <li><i-feather name="check"></i-feather> Boot & Digital Assistants</li>
                                    <li><i-feather name="check"></i-feather> Customer Service</li>
                                    <li><i-feather name="check"></i-feather> Up to 3300 Subscribers</li>
                                    <li><i-feather name="check"></i-feather> Unlimited Broadcasts</li>
                                    <li><i-feather name="check"></i-feather> Landing Pages & Web Widgets</li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
                            <div class="pricing-box">
                                <div class="pricing-header">
                                    <h3>Premium</h3>
                                    <p>Get your business up <br>and running</p>
                                </div>

                                <div class="price">
                                    $179 <span>/m</span>
                                </div>

                                <div class="buy-btn">
                                    <a href="#" class="btn btn-primary">Start 6 Days Free Trial</a>
                                </div>

                                <ul class="pricing-features">
                                    <li><i-feather name="check"></i-feather> Drag & Drop Builder</li>
                                    <li><i-feather name="check"></i-feather> Lead Generation & Sales</li>
                                    <li><i-feather name="check"></i-feather> Boot & Digital Assistants</li>
                                    <li><i-feather name="check"></i-feather> Customer Service</li>
                                    <li><i-feather name="check"></i-feather> Up to 10000 Subscribers</li>
                                    <li><i-feather name="check"></i-feather> Unlimited Broadcasts</li>
                                    <li><i-feather name="check"></i-feather> Landing Pages & Web Widgets</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tabs_item">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="pricing-box">
                                <div class="pricing-header">
                                    <h3>Free</h3>
                                    <p>Get your business up <br>and running</p>
                                </div>

                                <div class="price">
                                    $0 <span>/y</span>
                                </div>

                                <div class="buy-btn">
                                    <a href="#" class="btn btn-primary">Get Started Free</a>
                                </div>

                                <ul class="pricing-features">
                                    <li><i-feather name="check"></i-feather> Drag & Drop Builder</li>
                                    <li><i-feather name="check"></i-feather> Lead Generation & Sales</li>
                                    <li><i-feather name="check"></i-feather> Boot & Digital Assistants</li>
                                    <li><i-feather name="check"></i-feather> Customer Service</li>
                                    <li><i-feather name="check"></i-feather> Up to 1000 Subscribers</li>
                                    <li><i-feather name="check"></i-feather> Unlimited Broadcasts</li>
                                    <li><i-feather name="check"></i-feather> Landing Pages & Web Widgets</li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="pricing-box">
                                <div class="pricing-header">
                                    <h3>Pro</h3>
                                    <p>Get your business up <br>and running</p>
                                </div>

                                <div class="price">
                                    $249 <span>/y</span>
                                </div>

                                <div class="buy-btn">
                                    <a href="#" class="btn btn-primary">Start 3 Days Free Trial</a>
                                </div>

                                <ul class="pricing-features">
                                    <li><i-feather name="check"></i-feather> Drag & Drop Builder</li>
                                    <li><i-feather name="check"></i-feather> Lead Generation & Sales</li>
                                    <li><i-feather name="check"></i-feather> Boot & Digital Assistants</li>
                                    <li><i-feather name="check"></i-feather> Customer Service</li>
                                    <li><i-feather name="check"></i-feather> Up to 3300 Subscribers</li>
                                    <li><i-feather name="check"></i-feather> Unlimited Broadcasts</li>
                                    <li><i-feather name="check"></i-feather> Landing Pages & Web Widgets</li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
                            <div class="pricing-box">
                                <div class="pricing-header">
                                    <h3>Premium</h3>
                                    <p>Get your business up <br>and running</p>
                                </div>

                                <div class="price">
                                    $279 <span>/y</span>
                                </div>

                                <div class="buy-btn">
                                    <a href="#" class="btn btn-primary">Start 6 Days Free Trial</a>
                                </div>

                                <ul class="pricing-features">
                                    <li><i-feather name="check"></i-feather> Drag & Drop Builder</li>
                                    <li><i-feather name="check"></i-feather> Lead Generation & Sales</li>
                                    <li><i-feather name="check"></i-feather> Boot & Digital Assistants</li>
                                    <li><i-feather name="check"></i-feather> Customer Service</li>
                                    <li><i-feather name="check"></i-feather> Up to 10000 Subscribers</li>
                                    <li><i-feather name="check"></i-feather> Unlimited Broadcasts</li>
                                    <li><i-feather name="check"></i-feather> Landing Pages & Web Widgets</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
</section>

<section class="ml-feedback-area ptb-80">
    <div class="container">
        <div class="section-title">
            <h2>Our Clients Feedback</h2>
            <div class="bar"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>

        <div class="ml-feedback-slides owl-carousel owl-theme">
            <div class="single-ml-feedback-item">
                <div class="client-info">
                    <img src="assets/img/client-image/1.jpg" alt="image">
                    <h3>Sarah Taylor</h3>
                    <span>CEO at Envato</span>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid ullam harum sit. Accusantium veritatis dolore ducimus illum, cumque excepturi, autem rerum illo amet placeat odit corporis!</p>
                <!-- <div class="rating">
                    <i-feather name="star"></i-feather>
                    <i-feather name="star"></i-feather>
                    <i-feather name="star"></i-feather>
                    <i-feather name="star"></i-feather>
                    <i-feather name="star"></i-feather>
                </div> -->
            </div>

            <div class="single-ml-feedback-item">
                <div class="client-info">
                    <img src="assets/img/client-image/3.jpg" alt="image">
                    <h3>Steven Smith</h3>
                    <span>CEO at Envato</span>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid ullam harum sit. Accusantium veritatis dolore ducimus illum, cumque excepturi, autem rerum illo amet placeat odit corporis!</p>
                <!-- <div class="rating">
                    <i-feather name="star"></i-feather>
                    <i-feather name="star"></i-feather>
                    <i-feather name="star"></i-feather>
                    <i-feather name="star"></i-feather>
                    <i-feather name="star"></i-feather>
                </div> -->
            </div>

            <div class="single-ml-feedback-item">
                <div class="client-info">
                    <img src="assets/img/client-image/2.jpg" alt="image">
                    <h3>James Eva</h3>
                    <span>CEO at Envato</span>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid ullam harum sit. Accusantium veritatis dolore ducimus illum, cumque excepturi, autem rerum illo amet placeat odit corporis!</p>
                <!-- <div class="rating">
                    <i-feather name="star"></i-feather>
                    <i-feather name="star"></i-feather>
                    <i-feather name="star"></i-feather>
                    <i-feather name="star"></i-feather>
                    <i-feather name="star"></i-feather>
                </div> -->
            </div>
        </div>
    </div>

    <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
</section>

<section class="blog-area ptb-80">
    <div class="container">
        <div class="section-title">
            <h2>Our Recent Story</h2>
            <div class="bar"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post-box">
                    <div class="entry-thumbnail">
                        <a href="#"><img src="assets/img/blog-image/9.jpg" alt="image"></a>
                    </div>

                    <div class="entry-post-content">
                        <div class="entry-meta">
                            <ul>
                                <li><a href="#">Admin</a></li>
                                <li>August 15, 2019</li>
                            </ul>
                        </div>

                        <h3><a href="#">Making Peace With The Feast Or Famine Of Freelancing</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod...</p>
                        <a href="#" class="learn-more-btn">Read Story <i-feather name="plus"></i-feather></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post-box">
                    <div class="entry-thumbnail">
                        <a href="#"><img src="assets/img/blog-image/10.jpg" alt="image"></a>
                    </div>

                    <div class="entry-post-content">
                        <div class="entry-meta">
                            <ul>
                                <li><a href="#">Admin</a></li>
                                <li>August 18, 2019</li>
                            </ul>
                        </div>

                        <h3><a href="#">I Used The Web For A Day On A 50 MB Budget</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod...</p>
                        <a href="#" class="learn-more-btn">Read Story <i-feather name="plus"></i-feather></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                <div class="single-blog-post-box">
                    <div class="entry-thumbnail">
                        <a href="#"><img src="assets/img/blog-image/11.jpg" alt="image"></a>
                    </div>

                    <div class="entry-post-content">
                        <div class="entry-meta">
                            <ul>
                                <li><a href="#">Admin</a></li>
                                <li>August 15, 2019</li>
                            </ul>
                        </div>

                        <h3><a href="#">Here are the 5 most telling signs of micromanagement</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod...</p>
                        <a href="#" class="learn-more-btn">Read Story <i-feather name="plus"></i-feather></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
</section>

<section class="free-trial-area">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="free-trial-image">
                    <img src="assets/img/free-trial-img.png" alt="image">
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="free-trial-content">
                    <h2>Start your free trial</h2>

                    <form class="newsletter-form">
                        <input type="email" class="input-newsletter" placeholder="Enter your business email here">
                        <button type="submit">Sign Up Free</button>
                    </form>

                    <p>Test out the Machine Learning features for 14 days, no credit card required.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
</section>




