<section class="team-area ptb-80 bg-f9f6f6">
    <div class="container p-5">
        <div class="section-title">
            <h2>Meet Our Core Team</h2>
            <div class="bar"></div>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
        </div>
    </div>

    <div class="row m-0 ">
        <owl-carousel-o class="owl-carousel" [options]="customOptions">
            <ng-template carouselSlide>
                <div class="col-lg-12 pl-md-5">
                    <div class="single-team">
                        <div class="team-image">
                            <img src="assets/img/team-image/DM.jpg" alt="image" style="height: 225px;"> 
                        </div>
    
                        <div class="team-content">
                            <div class="team-info">
                                <h3>Dhaval Mandalia</h3>
                                <span>Founder & Managing Director</span>
                            </div>
    
                            <ul>
                                <li><a href="#"><i-feather name="facebook"></i-feather></a></li>
                                <!-- <li><a href="#"><i-feather name="twitter"></i-feather></a></li> -->
                                <li><a href="#"><i-feather name="linkedin"></i-feather></a></li>
                                <!-- <li><a href="#"><i-feather name="gitlab"></i-feather></a></li> -->
                            </ul>
    
                            <p style="font-size: 16px; line-height:1.5;" >Dhaval has been a technical evangelist for last 17 years working with various companies like Infosys, DuPont USA & Pfizer USA. After spending few years in USA, Dhaval traveled back to India with a vision to exercise entrepreneurship in India. Dhaval is also a certified Data Scientist by Johns Hopkins University. </p>
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="col-lg-12 pr-md-5" >
                    <div class="single-team">
                        <div class="team-image">
                            <img src="assets/img/team-image/KM.jpg" alt="image" style="height: 225px; width: 300px;">
                        </div>
    
                        <div class="team-content">
                            <div class="team-info">
                                <h3>Kaushal Mandalia</h3>
                                <span>Director, Finance & HR</span>
                            </div>
    
                            <ul>
                                <li><a href="#"><i-feather name="facebook"></i-feather></a></li>
                                <!-- <li><a href="#"><i-feather name="twitter"></i-feather></a></li> -->
                                <li><a href="#"><i-feather name="linkedin"></i-feather></a></li>
                                <!-- <li><a href="#"><i-feather name="gitlab"></i-feather></a></li> -->
                            </ul>
    
                            <p style="font-size: 16px; line-height:1.5;">Kaushal brings 20 years of rich experience from Finance Domain and worked with multiple MNC organizations. Kaushal handles Finance and HR for all group companies of Arocom. </p>
                        </div>
                    </div>
                </div>
            </ng-template>

            

           

           
        
            <!-- <ng-template carouselSlide>
                <div class="col-lg-12">
                    <div class="single-team">
                        <div class="team-image">
                            <img src="assets/img/team-image/3.jpg" alt="image">
                        </div>
    
                        <div class="team-content">
                            <div class="team-info">
                                <h3>Janny Cotller</h3>
                                <span>Web Developer</span>
                            </div>
    
                            <ul>
                                <li><a href="#"><i-feather name="facebook"></i-feather></a></li>
                                <li><a href="#"><i-feather name="twitter"></i-feather></a></li>
                                <li><a href="#"><i-feather name="linkedin"></i-feather></a></li>
                                <li><a href="#"><i-feather name="gitlab"></i-feather></a></li>
                            </ul>
    
                            <p>Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum. </p>
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="col-lg-12">
                    <div class="single-team">
                        <div class="team-image">
                            <img src="assets/img/team-image/4.jpg" alt="image">
                        </div>
    
                        <div class="team-content">
                            <div class="team-info">
                                <h3>Jason Statham</h3>
                                <span>UX/UI Designer</span>
                            </div>
    
                            <ul>
                                <li><a href="#"><i-feather name="facebook"></i-feather></a></li>
                                <li><a href="#"><i-feather name="twitter"></i-feather></a></li>
                                <li><a href="#"><i-feather name="linkedin"></i-feather></a></li>
                                <li><a href="#"><i-feather name="gitlab"></i-feather></a></li>
                            </ul>
    
                            <p>Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum. </p>
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="col-lg-12">
                    <div class="single-team">
                        <div class="team-image">
                            <img src="assets/img/team-image/5.jpg" alt="image">
                        </div>
    
                        <div class="team-content">
                            <div class="team-info">
                                <h3>Corey Anderson</h3>
                                <span>Project Manager</span>
                            </div>
    
                            <ul>
                                <li><a href="#"><i-feather name="facebook"></i-feather></a></li>
                                <li><a href="#"><i-feather name="twitter"></i-feather></a></li>
                                <li><a href="#"><i-feather name="linkedin"></i-feather></a></li>
                                <li><a href="#"><i-feather name="gitlab"></i-feather></a></li>
                            </ul>
    
                            <p>Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum. </p>
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="col-lg-12">
                    <div class="single-team">
                        <div class="team-image">
                            <img src="assets/img/team-image/1.jpg" alt="image">
                        </div>
    
                        <div class="team-content">
                            <div class="team-info">
                                <h3>Josh Buttler</h3>
                                <span>CEO & Founder</span>
                            </div>
    
                            <ul>
                                <li><a href="#"><i-feather name="facebook"></i-feather></a></li>
                                <li><a href="#"><i-feather name="twitter"></i-feather></a></li>
                                <li><a href="#"><i-feather name="linkedin"></i-feather></a></li>
                                <li><a href="#"><i-feather name="gitlab"></i-feather></a></li>
                            </ul>
    
                            <p>Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum. </p>
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="col-lg-12">
                    <div class="single-team">
                        <div class="team-image">
                            <img src="assets/img/team-image/2.jpg" alt="image">
                        </div>
    
                        <div class="team-content">
                            <div class="team-info">
                                <h3>Alex Maxwel</h3>
                                <span>Marketing Manager</span>
                            </div>
    
                            <ul>
                                <li><a href="#"><i-feather name="facebook"></i-feather></a></li>
                                <li><a href="#"><i-feather name="twitter"></i-feather></a></li>
                                <li><a href="#"><i-feather name="linkedin"></i-feather></a></li>
                                <li><a href="#"><i-feather name="gitlab"></i-feather></a></li>
                            </ul>
    
                            <p>Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum. </p>
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="col-lg-12">
                    <div class="single-team">
                        <div class="team-image">
                            <img src="assets/img/team-image/3.jpg" alt="image">
                        </div>
    
                        <div class="team-content">
                            <div class="team-info">
                                <h3>Janny Cotller</h3>
                                <span>Web Developer</span>
                            </div>
    
                            <ul>
                                <li><a href="#"><i-feather name="facebook"></i-feather></a></li>
                                <li><a href="#"><i-feather name="twitter"></i-feather></a></li>
                                <li><a href="#"><i-feather name="linkedin"></i-feather></a></li>
                                <li><a href="#"><i-feather name="gitlab"></i-feather></a></li>
                            </ul>
    
                            <p>Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum. </p>
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="col-lg-12">
                    <div class="single-team">
                        <div class="team-image">
                            <img src="assets/img/team-image/4.jpg" alt="image">
                        </div>
    
                        <div class="team-content">
                            <div class="team-info">
                                <h3>Jason Statham</h3>
                                <span>UX/UI Designer</span>
                            </div>
    
                            <ul>
                                <li><a href="#"><i-feather name="facebook"></i-feather></a></li>
                                <li><a href="#"><i-feather name="twitter"></i-feather></a></li>
                                <li><a href="#"><i-feather name="linkedin"></i-feather></a></li>
                                <li><a href="#"><i-feather name="gitlab"></i-feather></a></li>
                            </ul>
    
                            <p>Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum. </p>
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="col-lg-12">
                    <div class="single-team">
                        <div class="team-image">
                            <img src="assets/img/team-image/5.jpg" alt="image">
                        </div>
    
                        <div class="team-content">
                            <div class="team-info">
                                <h3>Corey Anderson</h3>
                                <span>Project Manager</span>
                            </div>
    
                            <ul>
                                <li><a href="#"><i-feather name="facebook"></i-feather></a></li>
                                <li><a href="#"><i-feather name="twitter"></i-feather></a></li>
                                <li><a href="#"><i-feather name="linkedin"></i-feather></a></li>
                                <li><a href="#"><i-feather name="gitlab"></i-feather></a></li>
                            </ul>
    
                            <p>Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum. </p>
                        </div>
                    </div>
                </div>
            </ng-template> -->
        </owl-carousel-o>
    </div>
</section>